body {
               font-family:"google sans";
                color:rgb(0, 0, 0);
                text-align:center;
                background-color:rgb(255, 171, 171);
           } 
         table td {
             border:px solid;
         }
          #one {
              border:5px ridge rgb(117, 117, 117);
              padding:10px;
              float:left;
              text-align:center;
              width:100%;
          }
         
          #img1 {
              position:absolute;
              left:40px;
              top:10px;
          }
           #img2 {
              position:absolute;
              right:40px;
              top:10px;
          }
          
           #arialblack {
               font-family:"arial black";
           }
           #arial {
               font-family:"arial";
           }
            #arialnarrow {
               font-family:"arial narrow";
           }
            #arimo {
                font-family:"arimo";
            }
            #caladea {
                font-family:"caladea";
            }
            #carlito {
                font-family:"carlito";
            }
            #comicsans {
                font-family:"comic sans MS";
            }
            #cousine {
                font-family:"cousine";
            }
            #garamond {
                font-family:"garamond";
            }
            #georgia {
                font-family:"georgia";
            }
            #google {
               font-family:"google sans";
            }
            #jomolhari {
                font-family:"jomolhari";
            }
            #monospace {
                font-family:"monospace";
            }
            #nanumgothic {
                font-family:"nanumgothic";
            }
            #notosans {
                font-family:"noto sans";
            }
            #notoserif {
                font-family:"noto serif";
            }
            #roboto {
                font-family:"roboto";
            }
            #sans {
                font-family:"sans";
            }
            #serif {
                font-family:"serif";
            }
            #tahoma {
                font-family:"tahoma";
            }
            #tinos {
                font-family:"tinos";
            }
            #trebuchet {
                font-family:"trebuchet MS";
            }
            #verdana {
                font-family:"verdana";
            }
